@import '@fontsource/manrope';
@import '@fontsource-variable/source-code-pro';

:root {
	--font-sans: 'Manrope', sans-serif;
	--font-mono: 'Source Code Pro', monospace;
	font-size: 16px;
}

body {
	font-family: var(--font-sans);
	font-size: 1rem;
	line-height: 1.5;
}
